- @comments.each do |comment|
  %blockquote.comments
    %p= comment.content
    %small
      = icon_link :user, comment.user.username, comment.user
      ( #{time_ago_in_words(comment.created_at)} ago... )
- if @comments.empty?
  .alert.alert-error
    There are no comments. Be the first!
    %a.close{"data-dismiss" => "alert", :href => "#"} ×