- @artists.to_enum.with_index(1).each  do |user, u|
	.row
		.span1
			%p
				.track-number=u
		.span2
			= link_to image_tag(user.profile_photo(:small)), user, :class => "thumbnail"
		.span6
			%h3
				= link_to user.artist_name, user
				%small= user.username
			%p
				- if user.genres.each do |genre|
					%span.label=genre.name
				- end.empty?
					No genres...
			%p
				%span.badge.badge-success
					%icon.icon-plus 
					%icon.icon-heart 
					0 Rep 
				%span.label.label-info
					%icon.icon-group 
					0 Followers 
	%hr.d