%p
	%h3
		= link_to "Artist Name", nil
		%small Rock / Pop Punk
	%p
		%span.badge.badge-success
			%icon.icon-plus 
			%icon.icon-heart 
			932 Rep 
		%span.label.label-info
			%icon.icon-group 
			932 Followers 
%hr