%li{ :class => "#{span}" }
  = link_to image_tag(video.item.url(:thumb)), video, :class => "thumbnail", "data-original-title" => "#{video.name}", "data-content" => "<p>#{video.description}</p>", :rel => "popover"