= bootstrap_page_header "Edit Event", "#{@event.name}" 
.row
	.span10.offset3
		.well
			= render 'form'
	.span3
		= link_to "Delete Event", event_path(@event), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-large btn-danger'
