= bootstrap_page_header "Edit Song", "#{@song.name}" 
.row
	.span8.offset4
		.well= render 'form'
	.span4
		= link_to "Delete Song", album_song_path(@album, @song), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-large btn-danger'
