-if !@user.albums.empty?
	%h3 
		%i.icon-star
		Featured Album
	%hr
	.row
		.span2
			=link_to image_tag(@album.cover.url(:large)), @album, :class => "thumbnail"
		.span8
			%h2= @album.name
			%p 17 Tracks - Released 2012
			%p=@album.description
	%hr.d


%h3 
	%i.icon-music
	Albums
%hr
-if @albums.nil?
	.alert.alert-info This user has no albums.
-else
	=render 'albums/shared/profile'

%h3 
	%i.icon-film
	Videos
%hr
-if @videos.nil?
	.alert.alert-info This user has no videos.
-else
	=render 'albums/shared/profile'

%h3 
	%i.icon-comments-alt
	Comments
%hr
=render 'comments/comments'
=render 'comments/form'