- @albums.to_enum.with_index(1).each  do |album,a|
	.row
		.span1
			%p
				.track-number= a
		.span2
			= link_to image_tag(album.cover.url(:small)), album, :class => "thumbnail"
		.span5
			%h3
				= link_to album.name, album
				%small= album.user.artist_name
			%p
				%span.label.label-info
					%icon.icon-play 
					0 Total Plays 
	%hr.d