.row
	.span1
		= link_to image_tag("http://placehold.it/60x60", :class => "thumbnail"), nil
	.span7
		%h3
			= link_to "Artist Name", nil
			%small Rock / Punk
		%p
			%span.label.label-info
				%icon.icon-play 
				932 Total Plays 
%hr