= bootstrap_page_header "New Album", nil 
.row
	.span8.offset4
		.well
			= render 'form'
	.span4

		%p.lead New Album

		%hr

		%p
			%strong If this is your first album on Mozapolis these tips may come in handy!
		%p There is a drag and drop uploader to make your album upload super easy, to learn more click here.
