= bootstrap_page_header "New Gallery", nil 
.row
	.span8
		= render 'form'
	.span8

		%p.lead New Gallery

		%hr

		%p
			%strong If this is your first gallery on Mozapolis these tips may come in handy!
