= simple_form_for(@playlist, :defaults => { :input_html => {:class => "span8"} }) do |f|
  = f.input :name
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), playlists_path, :class => 'btn'
