= content_tag_for(:div, @playlists, :class => "row") do |playlist|
  .span6
    %h2
      = link_to playlist.name, playlist
    %p
      = button_link "move", nil, nil, "btn-inverse btn-mini"
      = button_link "edit", "Edit Details", edit_playlist_path(playlist), "btn-warning btn-mini"
  .span3
    %h6 Views
    %p 3,324
  .span3
    %h6 Total Plays
    %p 20
  .span12
    %hr.d