= bootstrap_page_header "#{@playlist.name}", "Playlist by #{icon_link(:user,@playlist.user.username, @playlist.user)}"

.row
	.span8
		=render "songs/row"
	.span8
		%h3 
			%i.icon-comments-alt
			Comments
		%hr
		=render 'comments/comments'
		=render 'comments/form'